<Layouts.app flash={@flash}>
  <h1>Products Index</h1>

  <section>
    <h2>All Products</h2>
    <ul>
        <li :for={product <- @products}>
           {product.name}   {product.console}
        </li>
      %>
    </ul>
  </section>

</Layouts.app>
